.header {
  width: 100%;
  padding: 2rem 4rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: $color-primary-dark;

  @include respond(tab-port) {
    padding: 1rem 2rem;
  }

  @include respond(tab-land) {
    padding: 1rem 2rem;
  }
}
