.u-center-text {
  text-align: center !important;
}

.hide {
  display: none;
}

// padding utilities
.u-margin-t-small {
  margin-top: $small !important;
}
.u-margin-t-medium {
  margin-top: $medium !important;
}
.u-margin-t-large {
  margin-top: $large !important;
}
.u-margin-t-xlarge {
  margin-top: $x-large !important;
}

.u-margin-r-small {
  margin-right: $small !important;
}
.u-margin-r-medium {
  margin-right: $medium !important;
}
.u-margin-r-large {
  margin-right: $large !important;
}
.u-margin-r-xlarge {
  margin-right: $x-large !important;
}

.u-margin-b-small {
  margin-bottom: $small !important;
}
.u-margin-b-medium {
  margin-bottom: $medium !important;
}
.u-margin-b-large {
  margin-bottom: $large !important;
}
.u-margin-b-xlarge {
  margin-bottom: $x-large !important;
}

.u-margin-l-small {
  margin-left: $small !important;
}
.u-margin-l-medium {
  margin-left: $medium !important;
}
.u-margin-l-large {
  margin-left: $large !important;
}
.u-margin-l-xlarge {
  margin-left: $x-large !important;
}

// Padding utilities
.u-padding-t-small {
  padding-top: $small !important;
}
.u-padding-t-medium {
  padding-top: $medium !important;
}
.u-padding-t-large {
  padding-top: $large !important;
}
.u-padding-t-xlarge {
  padding-top: $x-large !important;
}

.u-padding-r-small {
  padding-right: $small !important;
}
.u-padding-r-medium {
  padding-right: $medium !important;
}
.u-padding-r-large {
  padding-right: $large !important;
}
.u-padding-r-xlarge {
  padding-right: $x-large !important;
}

.u-padding-b-small {
  padding-bottom: $small !important;
}
.u-padding-b-medium {
  padding-bottom: $medium !important;
}
.u-padding-b-large {
  padding-bottom: $large !important;
}
.u-padding-b-xlarge {
  padding-bottom: $x-large !important;
}

.u-padding-l-small {
  padding-left: $small !important;
}
.u-padding-l-medium {
  padding-left: $medium !important;
}
.u-padding-l-large {
  padding-left: $large !important;
}
.u-padding-l-xlarge {
  padding-left: $x-large !important;
}
